<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="styles.css">
    <title>CodeConnect</title>
</head>

<body>
    <div class="container">
        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="/kainos-logo--4271663565.jpg" alt="Kainos logo"
                    id="nav-logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"> Dropdown link </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--end of navbar-->
        <p>&nbsp</p>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <!--put in text-->
                    <header><strong> Simplify your workplace organisation </strong></header>
                </div>
                <div class="col-6">
                    <img src="/employepic.jpg" alt="Employee stock photo" style="width:400px; height: 400px;">
                    <!--put in image-->
                </div>
            </div>
            <div class="hero__container container">
                <div class="row">
                    <div class="col-12 col-md-8 ml-auto">
                        <div class="hero__block">
                            <h1 class="hero__title">Manage all your employees in the one place</h1>
                            <div class="hero__block-content">
                                <div class="hero__description">Manage all your employees in the one place</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--employee card-->
             <div class="container">
                 <a href="/admin"><button>admin</button></a>
                 <div class="d-flex justify-content-center">
                     <div class="card mb-3 shadow mt-5" style="max-width: 540px;">
                         <div class="row no-gutters">
                             <div class="col-md-4">
                                 <i class="bi bi-person-badge card-img text-muted"></i>
                             </div>
                             <div class="col-md-8">
                                 <div class="card-body">
                                     <h5 class="card-title">Employee Name</h5>
                                     <p class="card-text">Role:</p>
                                     <p class="card-text">Phone number:</p>
                                     <p class="card-text">Salary:</p>
                                     <p class="card-text">Address:</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                crossorigin="anonymous"></script>
</body>
