
.nav-logo{
    width:200px;
    height:200px;
}

.card-img{
    font-size: 150px;
}

.card-img{
    font-size: 200px;
    width: 100%;
    height: 100%;
}

.bi-trash3-fill{
    font-size: 30px;
    color: red;
}


.card{
    width: 900px;
}

.cardtext{
    font-size: 36px;
    padding: 20px;
}

.button{
    display: flex;
    justify-content: end;
}
